body {
  margin: 50px;
}


.head-logo-name {
  float: left;
  padding-right: 8px;
}

.head-icons {
  float: right;
  padding-right: 1px;
}

.head-icons2{
  float: right;

}

#delicious {
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: -28px;
  margin-top: -10px;
  margin-left: 10px;
}

#blog {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;

}

#email-icon {
  padding-left: 2px;
  float: right;
}

#rss-icon {
  padding-left: 7px;
  float: right;
}

hr{
 display:block;
 border:none;
 height:50px;
 background-image: url('img/hr-img.png');
 background-repeat: repeat-x;
}